.fl2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1320px;
  margin: 0 auto;
  gap: 35px;
}
.heee {
  text-align: center;
  padding: 10px;
  box-shadow: 2px 2px 4px 5px #ccc;
  width: 200px;
  margin: 0 auto;
}
.div-cc {
  margin-bottom: 40px;
}
.hhh {
  text-align: center;
}
.mg22 {
  width: 300px;
  height: 300px;
  border-radius: 20px;
}
.cont1282 {
  margin-top: 40px;
}
.cont3223 {
  box-shadow: 2px 2px 4px 5px #ccc;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 40px;
}
.h1-tag {
  position: relative;
  top: -40px;
  left: 313px;
  padding: 20px;
  background-color: black;
  width: 50px;
  border-radius: 100%;
  color: white;
  text-align: center;
}
.sp {
  margin-left: 3px;
}
.img-div3 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.pps {
  font-size: 20px;
  font-weight: 700;
}
.ppd {
  font-size: 18px;
  font-weight: 700;
}
.btn232 {
  width: 160px;
  background-color: black;
  height: 35px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: outset;
  border-right-style: outset;
  border-bottom-style: outset;
  border-left-style: outset;
  border-top-color: #767676;
  border-right-color: #767676;
  border-bottom-color: #767676;
  border-left-color: #767676;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  cursor: pointer;
}
.btn-div34 {
  position: relative;
  left: 113px;
  top: 18px;
}
